
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

<script>
  var app = angular.module('userApp', []);

  app.controller('registerCtrl', function($scope,  $http) {
  $scope.names = ["Mr", "Mrs", "Miss"];
  $scope.genders = ["Male", "Female", "Others"];



   $scope.register = function(){
   var user = {"titile":$scope.titile,"fname":$scope.fname,"sname":$scope.sname,"email":$scope.email,"gender":$scope.gender,"street":$scope.street,"city":$scope.city,"state":$scope.state,"postcode":$scope.postcode,"username":$scope.username,"password":$scope.password,"phone":$scope.phone,"cell":$scope.cell,"nat":"IN"};

      $http.post("http://localhost:2021/register",user )
    .then(function(response) {

      $scope.data = response.data;
      console.log($scope.data);

      document.getElementById("status").style.display= "block";

      setTimeout(function(){
        document.getElementById("status").style.display= "none";
        location.replace("http://localhost:2021/home.html");
      }, 2000);
    });
};

});


</script>
</head>
<body ng-app="userApp" ng-controller="registerCtrl">
<div class="col-md-6">
  <h2 class="text-center">Sign Up</h2>

    <div id = "status" class="alert alert-success" style="display: none;">
    <strong >Registration Success!</strong> .
  </div>
  <form [formGroup]="editForm" ng-submit="register()">
   
    <div class="form-group">
      <select ng-model="title" placeholder="Title" ng-options="x for x in names"></select>
    </div>

    <div class="form-group">
      <input ng-model="fname" formControlName="FirstName" placeholder="First Name" name="FirstName" class="form-control" id="FirstName">
    </div>

    <div class="form-group">
        <input ng-model="sname" formControlName="LastName" placeholder="Last Name" name="LastName" class="form-control" id="LastName">
    </div>

    <div class="form-group">
      <input  ng-model="email" formControlName="Email" placeholder="Email" name="Email" class="form-control" id="Email">
    </div>

     <div class="form-group">
      <input  ng-model="username" formControlName="username" placeholder="Username" name="Username" class="form-control" id="Email">
    </div>

    <div class="form-group">
      <input  ng-model="password" type="password" formControlName="Password" placeholder="Password" name="Password" class="form-control" id="Email">
    </div>

    <div class="form-group">
      <select ng-model="gender" placeholder="Gender" ng-options="x for x in genders"></select>
    </div>

    <div class="form-group">
      <input  ng-model="phone" formControlName="phone" placeholder="phone" name="phone" class="form-control" id="phone">
    </div>

    <div class="form-group">
      <input  ng-model="cell" formControlName="cell" placeholder="Cell" name="Cell" class="form-control" id="Cell">
    </div>
   
    <div class="form-group">
      <input  ng-model="street" formControlName="Street" placeholder="Address" name="Address" class="form-control" id="Address">
    </div>

      <div class="form-group">
      <input  ng-model="city" formControlName="city" placeholder="City" name="city" class="form-control" id="city">
    </div>
      <div class="form-group">
      <input  ng-model="state" formControlName="state" placeholder="state" name="state" class="form-control" id="state">
    </div>
      <div class="form-group">
      <input  ng-model="postcode" formControlName="postcode" placeholder="postcode" name="postcode" class="form-control" id="postcode">
    </div>
    
    <button class="btn btn-info">Sign Up</button>
  </form>
</div>
</body>
</div>
</html>